.App{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
  background-color: aqua;
}
h1{
  text-align: center;
}
.scores{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.header{
  background-color: black;
  color: white;
}